.searchBox {
  font-family: "PT Sans", sans-serif;
}

.links a {
  background-color: white;
}

.btn-primary {
  transition: display linear 1s;
}

.btn-primary:hover span {
  display: inline;
}

.BodyComponent{
  background-image: linear-gradient(
    to right top,
    #082032,
    #13293b,
    #1e3344,
    #283d4d,
    #334756
  );
}